<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Error response</title>
    </head>
    <style>body {
           color: #f8a830;
           background-color: #000000;
    }</style>
    <body>
        <h1>Error response</h1>
        <p>Error code: 401</p>
        <p>Message: Unauthorized.</p>
        <p>Error code explanation: 401 = No permission – see authorization schemes.</p>
    

</body></html>
